<div class="tab active" data-tab="general">
  <form autocomplete="off" class="save-message-to-journal-entry settings-form">
    <script>
      //Selecting correct values
      document.querySelector("#journalName option[value='{{journalName}}']").selected = true;
      document.querySelector("#pageName option[value='{{pageName}}']").selected = true;
      </script>
      <div class="form-group">
      <label for="journalName">{{localize "SMTJE.journalSelection"}}</label>
      <div class="flexrow">
         <select id="journalName" name="journalName" value="{{journalName}}">
            {{#each journalNameOptions}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
         </select>
      </div>
      <label for="pageName">{{localize "SMTJE.pageSelection"}}</label>
      <div class="flexrow">
         <select id="pageName" name="pageName" value="{{pageName}}">
            {{#each pageNameOptions}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
         </select>
      </div>
      <p class="notes">
         {{localize "SMTJE.pageNameWarning"}}
      </p>
   </div>
</form>
</div>