<form autocomplete="off" class="save-message-to-journal-entry settings-form">
   <div class="form-group">
      <label for="journalName">{{localize "SMTJE.journalSelection"}}</label>
      <div class="flexrow">
         <select id="journalName" name="journalName" value="{{journalName}}">
            {{#each journalNameOptions}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
         </select>
      </div>
      <label for="pageName">{{localize "SMTJE.pageSelection"}}</label>
      <div class="flexrow">
         <select id="pageName" name="pageName" value="{{pageName}}">
            {{#each pageNameOptions}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
         </select>
      </div>
      <p class="notes">
         {{localize "SMTJE.pageNameWarning"}}
      </p>
   </div>
</form>